@font-face {
    font-family: 'SourceSans3';
    src: url('Fonts/SourceSans3-Regular.ttf') format('truetype'); /* Replace 'your-font-file.ttf' with the actual file name */
    /* Add additional src lines for different font formats (e.g., woff, woff2) if available */
  }
  
  body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0,163,224); /* Set your desired background color */
}

.center-box {
    width: 300px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    background-color: rgb(17,17,17); /* Set your desired background color */
    border: 2px solid #333; /* Set your desired border color and width */
    border-radius: 8px; /* Set your desired border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow for a subtle effect */
}


  #body {
    font-family: 'SourceSans3', sans-serif;
  }
  
  input[type='range']::-moz-range-track {
    background: none;
  }

  input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    border: none;
    background: rgb(0,163,224);
    z-index: 3;
    cursor: pointer;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    border: none;
    background: rgb(0,163,224);
    z-index: 3;
    cursor: pointer;
  }

  .topAction {
    filter: invert(1)
  }

  .iconColor {
    color: #eee;
    filter: invert(1)
  }

  .textColor {
    color: #eee;
    filter: invert(1)
  }

  #info {
    border-left: 0.25rem dashed rgb(0,163,224);
  }

  .section {
    border-left: 0.25rem solid rgb(0,163,224);
  }